html {
    /* Fonts */

    --color-primary: #F26E4F;
    --color-secondary: #E15D3E;
    --color-accent: #C92700;
    --color-light: #FFFEFF;
    --color-dark: #2D2E31;
}

h1,
p {
    font-family: 'Montserrat', sans-serif !important;
}

img {
    width: 70px;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

div {
    max-width: 1268px;
    margin: 0 auto;
}

ul.carousel {
    overflow-y: hidden;
    list-style: none;
    padding: 25px;
    justify-items: end;

    display: grid;
    grid-auto-flow: column;
    gap: 14px;
    overflow-x: hidden;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    anchor-name: --carousel;
    scroll-snap-type: x mandatory;

    >li {
        scroll-snap-align: center;
    }

    >li {
        width: 120px;
        height: 100px;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        flex-direction: column-reverse;
        align-items: center;
        scroll-snap-align: center;

        &::scroll-marker:target-current {
            background: LinkText;
        }
    }

    &::scroll-button(*) {
        position: fixed;
        position-anchor: --carousel;
        margin: 1rem;
        color: white;
        background: orange;
        border: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-weight: 900;
    }

    &::scroll-button(right) {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 24' fill='white'%3E%3Cpath d='M10.59 16.34L15.25 12l-4.66-4.34L12 6l6 6-6 6z'/%3E%3C/svg%3E");
        position-area: center right;
    }

    &::scroll-button(left) {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 24' fill='white'%3E%3Cpath d='M13.41 16.34L8.75 12l4.66-4.34L12 6l-6 6 6 6z'/%3E%3C/svg%3E");
        position-area: center left;
    }

    &::scroll-button(*):focus-visible {
        outline-offset: 5px;
    }
}